<%- include("../inc/head.ejs") %>
<link rel="stylesheet" href="/css/nav.css" />
<link rel="stylesheet" href="/css/signup-login.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
</head>
<body>
    <%- include("../inc/nav.ejs") %>
    <main>
        <h1>Login:</h1>
        <form class="box" action="/auth/login" method="POST">
            <input id="email" type="email" name="email" placeholder="Email" required />
            <div id="div-password">
                <input type="password" name="password" id="password" placeholder="Password" required />
                <i class="bi bi-eye-slash" id="togglePassword"></i>
            </div>
            <input type="submit" name="" value="Login">
        </form>
    </main>
    <script src="/js/password.js"></script>
<%- include("../inc/end.ejs") %>