<% if (message === false || message === null) { %>
    <!-- do nothing -->
<% } else if (message.success !== null) { %>
    <div class="message success">
        <p><%= message.success %></p>
    </div>
<% } else if (message.error !== null) { %>
    <div class="message error">
        <p><%= message.error %></p>
    </div>
<% } else { %>
    <p>something is wrong with message middleware</p>
<% } %>