<div class="flash">
    <% if (!locals.message) message=''%>
    <% if (!locals.error) error='' %>
    <% if (message.length > 0) { %>
        <div class="message">
            <p id="message"><%= message %> </p>
        </div>
    <% } else if (error.length > 0) {%>
        <div class="error">
            <p id="error"><%= error %> </p>
        </div>
    <% } %>
</div>