<div class="nav">
    <div class="nav-header">
        <div class="nav-title">ACS</div>
    </div>

    <div class="nav-links">
        <ul>
            <li><a href="/">Home</a></li>
            <% if (!isAuth) { %>
                <li><a href="/auth/login">Log In</a></li>

            <% } else if(isAuth) { %>
                <li><a href="/dashboard/account">Dashboard</a></li>
                <% } %>
            <li><a href="/support">Support</a></li>
        </ul>
    </div>
</div>