<div class="side_nav">
    <ul class="top_level">
        <li><a href="/dashboard/account">Account Info</a></li>
        <li>
            <button id="support_menu">Support</button>
            <ul class="second_level">
                <li><a href="#">Tickets</a></li>
                <li><a href="/support/dashboard/new-ticket">Open New Ticket</a></li>
            </ul>
        </li>
    </ul>
</div>