<%- include("./inc/head.ejs") %>
</head>
<body>
    <head><h1>Ticketing System Demo</h1></head>
    <main>
        <form action="#">
            <label for="name">Name:</label>
            <input id="name" name="name" type="text" required>
            <label for="email">Email:</label>
            <input id="email" type="email" name="email" required>
            <label for="subject">Subject:</label>
            <input id= "subject" type="text" name="subject" required>
            <label for="messege">Message:</label>
            <input id="messege" type="text" name="messege" required>
        </form>
    </main>
<%- include("./inc/end.ejs") %>
