<%- include("../inc/head.ejs") %>
<link rel="stylesheet" href="/css/nav.css" />
<link rel="stylesheet" href="/css/support.css" />
</head>
<body>
    <%- include("../inc/nav.ejs") %>
    <header>
        <h1>How can we help you?</h1>
    </header>
    <main>
        <div class="knowledge_base">
            <input id="search" type="text" name="search" placeholder="Search" />
        </div>

        <h1>Can't find an answer? You can contact us.</h1>
        <div class="contact_us">
            <form class="contact_us_form" action="#" method="post">
                <input id="name" type="text" name="name" placeholder="Name" />
                <input id="email" type="email" name="email" placeholder="Email" />
                <input
                    id="subject"
                    type="text"
                    name="subject"
                    placeholder="Subject"
                />
                <textarea
                    name="message"
                    id="message"
                    placeholder="Message"
                    cols="60"
                    rows="10"
                ></textarea>
                <input type="submit" value="Submit" />
            </form>
        </div>
    </main>
<%- include("../inc/end.ejs") %>
