<%- include("../inc/head.ejs") %>
<link rel="stylesheet" href="/css/nav.css" />
<link rel="stylesheet" href="/css/support.css" />
</head>
<body>
    <%- include("../inc/nav.ejs") %>
    <header>
        <h1>How can we help you?</h1>
    </header>
    <main>
        <div class="knowledge_base">
            <input id="search" type="text" name="search" placeholder="Search" />
        </div>

        <h1>Can't find an answer?</h1>
        <div class="contact_us">
            <form class="contact_us_form" action="/dashboard/new-ticket" method="GET">
                <input type="submit" value="Contact Us" />
            </form>
        </div>
    </main>
<%- include("../inc/end.ejs") %>
