<%- include("../inc/head.ejs") %>
<link rel="stylesheet" href="/css/nav.css" />
<link rel="stylesheet" href="/css/dashboard.css">
<link rel="stylesheet" href="/css/support-ticket-chat.css" />
</head>
<body>
    <main>
        <%- include("../inc/nav.ejs") %>
        <div class="box ticket_chat">
            <h1>Subject</h1>
            <div class="ticket_info">
                <h5>Created at: [00.00.000 00:00]</h5>
                <h5>By: [demo customer]</h5>
                <h5>Current agent: [agent name if exists]</h5>
            </div>
            <hr />
            <div class="reply">
                <div class="reply_info">
                    <h5>[Timestamp]</h5>
                    <h5>[Sender name]</h5>
                    <h5>[reciepient name]</h5>
                </div>
                <div class="reply_message">
                    <p>[Some message here is written from the intial message]</p>
                </div>
            </div>
            <hr />
            <div class="textarea">
                <label for="relpy">Write a reply</label>
                <textarea name="reply" id="reply" cols="60" rows="10"></textarea>
            </div>
        </div>
    </main>
<%- include("../inc/end.ejs") %>
