<%- include("../inc/head.ejs") %>
<link rel="stylesheet" href="/css/nav.css">
</head>
<body>
    <%- include("../inc/nav.ejs") %>
    <main>
        <%- include("../inc/flash.ejs") %>
    </main>
<%- include("../inc/end.ejs") %>